<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head">
</head>
<body>

	<header th:replace="layout/layout :: header"></header>
	
	<div class="container py-4"> 
		<div class="card bg-light">
			<div class="card-header" th:text="${titulo}"></div>
			<div class="card-body">
	<h4 class="card-title">
		<a class="btn btn-light" th:href="@{'/ver/' + ${factura.cliente.id}}" th:text = "'&laquo; volver'"></a>
	</h4>
		<form th:action="@{/factura/form}"  th:object="${factura}" method="post" >
			
			<div class="form-group row">
				<label for="inputFecha" class="col-sm-2 col-form-label">Cliente</label>
				<div class="col-sm-4" >
					<input type="text" class="form-control" id="inputFecha" th:value="${factura.cliente.nombre}"/>
						</div>
			</div>
			
			
			<div class="form-group row">
				<label for="inputDes" class="col-sm-2 col-form-label" >Descripción</label>
				<div class="col-sm-6">
					<input type="text"  class="form-control" th:field="*{descripcion}"
						id="inputDesc" />
					
				</div>
			</div>
			<div class="form-group row">
				<label for="inputObs" class="col-sm-2 col-form-label">Observación</label>
				<div class="col-sm-6">
					<textarea   class="form-control" th:field="*{observacion}"
						id="inputObs" > </textarea>
						
				</div>
			</div>
			
			<div class="form-group row">
				<label for="buscar_producto" class="col-sm-2 col-form-label">Producto Autocomple</label>
				<div class="col-sm-6">
					<input type="text"  name="buscar_producto" id="buscar_producto" class="form-control"/> 
						
				</div>
			</div>
			
			
			<div class="form-group row">
				
				<div class="col-sm-3">
					<input class="btn btn-secondary" type="submit" th:value="${titulo}" />
				</div>
			</div>

		</form>
		
			</div>
			
		</div>
	
	</div>

	<footer th:replace="layout/layout :: footer"></footer>
	<script th:replace="factura/js/autocomplete-productos :: javascript"></script>
	
	
</body>
</html>